<nav class="navbar navbar-expand-lg custom_nav-container pt-5 pb-4">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <span style="color:yellow; background-color: aquamarine;"> Homa Page </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
        </div>
      </div>
    </div>
  </nav>
  