<app-banner></app-banner>

<div class="bg-light py-5">
  <div class="container text-center">
    <h5 class="font" style="color:yellow; font-weight: 500; font-size: 30px;">We're leaders in</h5>
    <h3 class=" py-3 m-0" style="color:green;">Creative Digital Requirement</h3>
    <div class="row justify-content-md-center mb-4">
      <div class="col-sm-2">
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-sm-6 mb-3" style="color:blue">
        Based in Surry Hills,the creative hub of Sydney we are surrounded by creativity and that reflects on the type of
        jobs we recruit for.
      </div>
    </div>
    <button class="btn btn-outline-primary text-uppercase" style="border-radius: 20px; padding: 20px; border: 1px solid black;" >Find out more about us</button>
  </div>
</div>
